@import './vars.scss';

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-weight: $font-weight-interface;
    font-size: $font-size-interface;
    line-height: $line-height-interface;
    color: $color-interface;
    text-shadow: $text-shadow-interface;
}