@import '../../../../resources/scss/vars.scss';

.popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $background-color-interface;
    backdrop-filter: $backdrop-filter-interface;
    padding: $padding-interface;
    z-index: $z-index-popup;

    &__header {
        text-align: center;
        margin-bottom: 40px;
    }

    &__close {
        position: absolute;
        top: $padding-interface;
        right: $padding-interface;
        width: 60px;
        height: 60px;
        background-color: $background-color-interface;
        backdrop-filter: $backdrop-filter-interface;
        border-radius: 50%;
        padding: $padding-interface;
        margin-bottom: 20px;
        box-sizing: border-box;
        cursor: pointer;

        &:hover {
            background-color: $background-color-interface-hover;
        }
    }
    
    &__setting {
        margin: 20px 100px 40px;
        
        &__title {
            margin-bottom: 20px;
        }
    }
}

.range {
    &__track {
        height: 6px;
        width: 100%;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-top: 40px;
    }

    &__thumb {
        position: relative;
        height: 30px;
        width: 30px;
        background-color: #548BF4;
        border-radius: 50%;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.7);
        outline: none;
    }

    &__value {
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 12px;
    }
}