@import '../../../resources/scss/vars.scss';

.interface {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: $z-index-interface;

    &__btn {
        width: 60px;
        height: 60px;
        background-color: $background-color-interface;
        backdrop-filter: $backdrop-filter-interface;
        border-radius: 50%;
        padding: $padding-interface;
        margin-bottom: 20px;
        box-sizing: border-box;
        cursor: pointer;

        &:hover {
            background-color: $background-color-interface-hover;
        }
    }
}