@import '../../../resources/scss/vars.scss';

.interface {
    position: absolute;
    top: 20px;
    z-index: $z-index-interface;

    &__left {
        left: 20px;
    }

    &__right {
        right: 20px;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: $button-height-interface;
        height: $button-height-interface;
        background-color: $background-color-interface;
        backdrop-filter: $backdrop-filter-interface;
        border-radius: 50%;
        padding: $padding-interface;
        margin-bottom: 20px;
        box-sizing: border-box;
        cursor: pointer;

        &:hover {
            background-color: $background-color-interface-hover;
        }

        & :global(svg) {
            max-width: 100%;
            max-height: 100%;
        }
    }
}